/*Selector universal*/
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
/*Selector de tipo: Etiqueta*/
body{
    background-color: rgb(48, 48, 75);
}

main{
    /*Ajustar las tarjetas a varias lineas*/
    display: flex;
    flex-wrap: wrap;
}

h1{
    color:white;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/*Selector de tipo: Clase*/
/*Reutilizar estilos*/

.tarjeta {
    width: 280px;
    height: 335px;
    background-color: antiquewhite;
    border-radius: 3%;
    /*Centrando elementos*/
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px 8px 10px 8px;
    padding: 12px;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

.titulo-tarjeta{
    margin-bottom: 0px;
}

.tarjeta:hover{ 
    background-color: rgb(129, 93, 99);
    transform: scale(1.05);
}

.tarjeta .caja-contenedora{
    width: 200px;
}

.tarjeta img{
    background-color: aliceblue;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 5%;
}

.tarjeta p{
    font-size: 15px;
}

/*Selector de tipo: ID*/
/*Es UNICO*/

#Mitosis{
    color:blueviolet;
}

#Sintesís{
    color:blue;
}